body {
  background: rgb(75, 71, 71);
  color: white;
}

.counter__container {
  margin: 100px;
}
.btn {
  width: 50px;
}
input {
  margin-left: 100px;
  padding: 5px;
  color: green;
}
ul {
  margin-left: 4rem;
}
li {
  list-style: none;
  margin-bottom: 1rem;
}
