body {
  background-color: rgb(75, 71, 71);
  color: white;
}

.counter-container {
  margin: 100px;
}
input {
  margin-top: 10px;
  margin-left: 100px;
  font-size: 20px;
  color: green;
}
ul {
  margin-left: 100px;
}
.btn {
  width: 50px;
}

#add-movie {
  margin: 1rem;
}
